{% extends 'cards_system/base_stage.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<br/>
<div>
    <div class="row">
        <h2 class="col-md-2">
            {{ child.name }}
        </h2>

        <!-- Image start -->
        <div class="card col-md-2 mb-4 shadow-sm bg-light justify-content-center">
            {% cloudinary child.image format="jpg" alt="Child image / Imagen del niño" class="card-img-top mx-auto d-block" %}
        </div>
        <!-- Image end -->

        <div class="col-md-4"></div>

        <div class="card col-md-2 mb-4 shadow-sm justify-content-center bg-success">
            <a href="/stage/{{child.slug}}"> 
                <img src="{% static 'images/Cary Krell passport card.jpg' %}" alt="Cary Krell card / Tarjeta de Cary Krell" class="card-img-top mx-auto d-block"><br/>
            </a> 
        </div>
        <div class="card col-md-2 mb-4 shadow-sm justify-content-center bg-success">
            <a href="/stage/{{child.slug}}"> 
                <div class="card-body">
                    <p class="card-text text-center text-white">
                        {% if request.session.lang == "en" %}
                            Click to simulate another card insertion
                        {% else %}
                            Cliquee para simular otra inserción de la tarjeta
                        {% endif %}
                    </p>
                </div>
            </a> 
        </div>

    </div>
    <br/>
    
    <div class="row">
        <div class="col-md-6">
            <p>
                {% if request.session.lang == "en" %}
                    {{ stage_content.text|linebreaksbr }}
                {% else %}
                    {{ stage_content.text_es|linebreaksbr}}
                {% endif %}
            </p>
        </div>

        <!-- Image start -->
        <div class="card col-md-6 mb-4 shadow-sm bg-light justify-content-center">
            {% cloudinary stage_content.image format="jpg" alt="Current stage image / Imagen de la etapa actual" class="card-img-top mx-auto d-block" %}

            <div class="card-body">
                <p class="card-text text-center font-weight-bolder">
                    {% if request.session.lang == "en" %}
                        {{ stage_content.image_text}}
                    {% else %}
                        {{ stage_content.image_text_es}}
                    {% endif %}
                </p>
            </div>
        </div>
        <!-- Image end -->
    </div>
    {% if send_to_printer %}
        <h4 class="font-italic">
            {% if request.session.lang == "en" %}
                The story of this child has been sent to the nearby printer, so you can reread it in detail later.
            {% else %}
                La historia de este niño ha sido enviada a la impresora cercana, para que Ud. pueda releerla en detalle más adelante.
            {% endif %}
        </h4>
    {% endif %}
</div>
    
{% endblock %}
