<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="{% static 'css/Graymor_custom_BS4_theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block section_css %}
        {% endblock %}

        <title>Card system demo</title>
    </head>
    <body>
        <!-- Navbar start -->
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand text-white font-weight-bold" href="{% url 'home' %}">
                        {% if request.session.lang == "en" %}
                            Start
                        {% else %}
                            Inicio
                        {% endif %}
                    </a> 
                </li>
            </ul>

            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" href="{% url 'set_language' lang='en' %}">
                        <img src="{% static 'images/us.svg' %}" alt="US flag" width=60>
                        English
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" href="{% url 'set_language' lang='es' %}">
                        <img src="{% static 'images/sp.svg' %}" alt="Spanish flag" width=55>
                        Español
                    </a>
                </li>
            </ul>
      
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon text-white"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white font-weight-bold" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Navbar end -->

        {% block section %}
        {% endblock %}

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </body>
</html>


