{% extends 'base.html' %}
{% load static %}

{% block section_css %}
{% endblock %}


{% block section %}

<!-- Main body content -->
<!---Handle side columns here -->
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.session.lang == "en" %}
                <h2>CARD SYSTEM DEMO FOR A HOLOCAUST THEMED MUSEUM</h2>
                <br/>

                <h3>Summary</h3>
                <p>This site simulates a card system in use on the Museum of Tolerance in Los Angeles (<a href = 'http://www.museumoftolerance.com'>http://www.museumoftolerance.com</a>) , for the exhibit on the Holocaust. Every visitor is given a card with the name and photo of a Jew child and as the visitor advances on the exhibit, putting the card on terminals with card readers, he/she is updated on the successive changes of the child history. At the end of the tour, the ultimate fate of the child is revealed.</p>
                <p>This site allows to try how the system works, and its <a href = 'https://github.com/focalfocal/museum-card-system-demo'>code on GitHub</a> (free of rights) can help different Holocaust Museums worldwide to implement it (if authorized by the Museum of Tolerance). As a minimum, I will be contacting the Buenos Aires Holocaust Museum to let them know the availability of this demo and material.</p>
                <p>This system was shown on the movie "Freedom writers" (2007). <a href = '{{film_fragment_on_gdrive}}'>The relevant fragment of this film can be seen here.</a></p>
            {% else %}
                <h2>DEMO DE UN SISTEMA DE TARJETAS PARA UN MUSEO TEMÁTICO DEL HOLOCAUSTO</h2>
                <br/>

                <h3>Resumen</h3>
                <p>Este sitio simula y muestra un sistema de tarjetas en uso en el Museo of Tolerance en Los Ángeles, EE.UU.  (<a href = 'http://www.museumoftolerance.com'>http://www.museumoftolerance.com</a>), para la exhibición temática sobre el Holocausto. Cada visitante puede retirar una tarjeta con el nombre y la foto de un niño judío. y a medida que el visitante avanza en la exhibición, colocando la tarjeta en terminales con lectores de tarjetas, se lo va actualizando sobre los sucesivos cambios de la historia del niño. Al final del recorrido se revela el destino final del niño.</p>
                <p>Este sitio permite probar cómo funciona el sistema, y su <a href = 'https://github.com/focalfocal/museum-card-system-demo'>código en GitHub</a> puede ayudar a diferentes Museos del Holocausto en todo el mundo a eventualmente implementarlo (si fueran autorizados por el Museo of Tolerance). Como mínimo, me pondré en contacto con el Museo del Holocausto de Buenos Aires para darles a conocer la disponibilidad de este demo y código.</p>
                <p>Este sistema se mostró en la película "Freedom Writers" - "Escritores de la Libertad" (2007). <a href = '{{fragmento_pelicula_en_gdrive}}'>El fragmento relevante de esta película se puede ver aquí.</a></p>
            {% endif %}
        </div>
        
        <div class="col-md-1"></div>

        <div class="card col-md-3 mb-4 shadow-sm">
            <a href="/stage/{{child_for_demo_slug}}"> 
                <img src="{% static 'images/Cary Krell passport card.jpg' %}" alt="Cary Krell card / tarjeta de Cary Krell" class="card-img-top mx-auto d-block"><br/>
                <div class="card-body">
                    <h4 class="card-text text-center"><strong>
                        {% if request.session.lang == "en" %}
                            Click to simulate a card initial insertion to a terminal
                        {% else %}
                            Haga clic para simular la inserción inicial de una tarjeta en una terminal
                        {% endif %}
                        </strong></h4>
                </div>
            </a> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% if request.session.lang == "en" %}
                <h3>Introduction</h3>
                <p>The Museum of Tolerance (a Simon Wiesenthal Center) located on Los Angeles, USA, has a card system that allows every person to follow the story of a Jew child along the visit to the Holocaust themed exhibit. </p>
                <p>There is a seventy minute dramatic presentation that takes visitors back to the period between 1920s and 1945 in Nazi-dominated Europe.</p>
                <p><strong>Each visitor receives a photo passport card with the story of a child living during the Holocaust.</strong></p>
            {% else %}
                <h3>Introducción</h3>
                <p>El Museo de la Tolerancia (Centro Simon Wiesenthal) ubicado en Los Ángeles, EE.UU., tiene un sistema de tarjetas que permite a cada persona seguir la historia de un niño judío durante la visita a la exhibición temática del Holocausto.</p>
                <p>Hay una presentación dramática de setenta minutos que lleva a los visitantes al período comprendido entre los años '20 y 1945 en la Europa dominada por los nazis.</p>
                <p><strong>Cada visitante puede retirar una tarjeta-pasaporte con la fotografía de un niño que vivió durante el Holocausto.</strong></p>
            {% endif %}
        </div>

        <div class="col-md-1"></div>

        <div class="card col-md-3 mb-4 shadow-sm">
            
                <img src="{% static 'images/Museum_of_Tolerance_Los_Angeles_USA.jpg' %}" alt="Museum of Tolerance, Los Angeles, USA" class="card-img-top mx-auto d-block"><br/>
                <div class="card-body">
                    <p class="card-text text-center">Museum of Tolerance, Los Angeles</p>
                </div> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if request.session.lang == "en" %}
                <p><strong>As visitors explore different areas,</strong> such as a recreation of a Berlin Outdoor Café and a specially designed Hall of Testimony, <strong>the passport cards keep updating with the drastic changes in the children's lives.</strong></p>
                <p><strong>At the end of the tour, the ultimate fate of the child is revealed.</strong></p>
                <p>The texts (and the child photo) for Cary Krell, included as main example on this demo, were taken from the Tolerance Museum site (<a href='http://www.museumoftolerance.com/education/teacher-resources/holocaust-resources/children-of-the-holocaust/cary-krell.html'>http://www.museumoftolerance.com/education/teacher-resources/holocaust-resources/children-of-the-holocaust/cary-krell.html</a>).</p>
                <p>Most photographs are taken from the "Freedom writers" film.</p>
                <br/>

                <h3>System description</h3>
            {% else %}
                <p><strong>A medida que los visitantes exploran diferentes áreas,</strong> como la recreación de un Café al aire libre de Berlín y una Sala de Testimonio especialmente diseñado, <strong>las tarjetas-pasaporte los van actualizando respecto a los cambios drásticos en la vida de los niños.</strong></p>
                <p><strong>Al final del recorrido, se revela el destino final del niño.</strong></p>
                <p>Los textos (y la foto) de Cary Krell, incluidos como ejemplo principal en esta demostración, se tomaron del sitio del Museo de la Tolerancia (solo en inglés) (<a href='http://www.museumoftolerance.com/education/teacher-resources/holocaust-resources/children-of-the-holocaust/cary-krell.html'>http://www.museumoftolerance.com/education/teacher-resources/holocaust-resources/children-of-the-holocaust/cary-krell.html</a>).</p>
                <p>La mayoría de las fotografías están tomadas de la película "Freedom Writers".</p>
                <br/>

                <h3>Descripción del sistema</h3>
            {% endif %}
        </div>

    <div class="card-deck">
        <div class="card col-md-5 mb-4 shadow-sm bg-light justify-content-center">
            <img src="{% static 'images/Hand_taking_a_card_from_pile.jpg' %}" alt="Hand taking a card from a pile / Mano tomando una tarjeta de una pila de ellas" class="card-img-top mx-auto d-block"><br/>
        </div>
        <div class="card col-md-5 mb-4 shadow-sm bg-light justify-content-center">  
            <img src="{% static 'images/Several_cards.jpg' %}" alt="Several cards / Varias tarjetas" class="card-img-top mx-auto d-block"><br/>
        </div>
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-md-12">
            {% if request.session.lang == "en" %}
                <p>Every visitor takes a card from a cards pile. The card has the name and photo of a child.</p>
                <p>At the beginning of the tour and at several moments during the visit to the exhibit, the visitor is routed to a room with a number of terminals with card readers.</p>
            {% else %}
                <p>Cada visitante toma una tarjeta de una pila de tarjetas. La tarjeta tiene el nombre y la foto de un niño.</p>
                <p>Al comienzo del recorrido y en varios momentos durante la visita a la exhibición, el visitante es encaminado a una sala con una serie de terminales con lectores de tarjetas.</p>
            {% endif %}
        </div>
    </div>

    <div class="card-deck">
        <div class="card col-md-5 mb-4 shadow-sm bg-light justify-content-center">
            <img src="{% static 'images/A_row_of_terminals.jpg' %}" alt="A row of terminals / Una fila de terminales" class="card-img-top mx-auto d-block"><br/>
        </div>
        <div class="card col-md-5 mb-4 shadow-sm bg-light justify-content-center">  
            <img src="{% static 'images/Card_being_inserted_to_card_reader.jpg' %}" alt="A card being inserted to a card reader / Una tarjeta siendo insertada en un lector de tarjetas" class="card-img-top mx-auto d-block"><br/>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
            {% if request.session.lang == "en" %}            
                <p>Upon insertion of the card, the terminal shows details texts and photos related to the child and/or the stage. Each time the card is inserted, the next stage of the child life is presented, showing the impact on the child of what was seen on a stage of the exhibit.</p>
                <p>At the end of the tour, the card is inserted for a last time (and maybe retained by the machine), and the final stage of the child life is shown, revealing whether he survived or not, and the complete story is printed on a nearby printer so the visitor can re-read in detail the story and take it with him.</p>
            {% else %}            
                <p>Tras la inserción de la tarjeta, el terminal muestra textos detallados y fotos relacionadas con el niño y/o esa etapa. Cada vez que se inserta la tarjeta, se presenta la siguiente etapa de la vida del niño, mostrando el impacto en el niño de lo visto en un escenario de la exhibición.</p>
                <p>Al final del recorrido, la tarjeta se inserta por última vez (y tal vez la máquina la retiene), y se muestra la etapa final de la vida del niño, revelando si sobrevivió o no, y la historia completa se imprime en un impresora cercana para que el visitante pueda releer en detalle la historia y llevarla consigo.</p>
            {% endif %}
        </div>
    </div>

    <div class="card-deck">
        <div class="card col-md-4 mb-4 shadow-sm bg-light justify-content-center">
            <img src="{% static 'images/Terminal_showing_child_information.jpg' %}" alt="A terminal showing child information / Una terminal mostrando información de una niña" class="card-img-top mx-auto d-block"><br/>
        </div>
         <div class="card col-md-4 mb-4 shadow-sm bg-light justify-content-center">
            <img src="{% static 'images/Terminal_printer_just_printed.jpg' %}" alt="A person reading the sheet just printed / Una persona leyendo la hoja que acaba de imprimirse" class="card-img-top mx-auto d-block"><br/>
        </div>
        <div class="card col-md-4 mb-4 shadow-sm bg-light justify-content-center">  
            <img src="{% static 'images/Sheet_of_paper_with_child_information_3_folded.jpg' %}" alt="A sheet of paper with the child information printed / Una hoja de papel con la información de una niña impresa" class="card-img-top mx-auto d-block"><br/>
        </div>
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-md-12"> 
            {% if request.session.lang == "en" %}  
                <p>The terminals have no keyboard, mouse nor touchscreens. The card readers can be of any type: magnetic, inductive (contactless) or optical (barcode readers like in a shop). The software required is any browser, plus an Internet connection (or just connection to a local server: a PC). The picture and text size on the templates must be adjusted beforehand to fit in a single screen on the actual terminal.</p>
                <br/>

                <h3>Technical information</h3>
                <h4>Django 3.1 / Python 3.8 / Bootstrap 4.5 / Cloudinary</h4>
                <h5>(focus on the back-end; front-end not polished)</h5>
                <br/>
                <ul>
                    <li><p>Demo site implemented on Heroku with PostgreSQL DB. 
                    </p>
                    <li><p>User-uploaded images (media) handled by Cloudinary. Static images handled by Whitenoise. 
                    </p>
                    <li><p>Secret keys based on environment variables for safe and simple deployment.</p>
                </ul>
            {% else %}  
                <p>Los terminales no tienen teclado, mouse ni pantallas táctiles accesibles. Los lectores de tarjetas pueden ser de cualquier tipo: magnéticos, inductivos ("contactless") u ópticos (lectores de códigos de barras como en un comercio). El software necesario es cualquier navegador, más una conexión a Internet (o simplemente una conexión a un servidor local: una PC). El tamaño de la imagen y el texto de las plantillas debe ajustarse de antemano para que quepan en una sola pantalla en el terminal real.</p>
                <br/>

                <h3>Información técnica</h3>
                <h4>Django 3.1 / Python 3.8 / Bootstrap 4.5 / Cloudinary</h4>
                <h5>(foco puesto en el back-end; front-end no pulido)</h5>
                <br/>
                <ul>
                    <li><p>Sitio de demostración implementado en Heroku con PostgreSQL DB. 
                    </p>
                    <li><p>Imágenes subidas por el usuario ('media') manejadas por Cloudinary. Imágenes estáticas manejadas por Whitenoise. 
                    </p>
                    <li><p>Claves secretas basadas en variables de entorno para una implementación segura y simple.</p>
                    </p>
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

